body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;


}

.title {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}

.move-icon {
  height: 50px;
  padding: 20px;

}

.move-button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  /* border: none; */
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 3px solid white;
  margin-right: 10px;
}
.js-reset,
.js-autopaly{
  background-color: rgb(95, 224, 70);
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  /* border: none; */
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 3px solid white;
  cursor: pointer;
}

.js-reset:hover,
.js-autopaly:hover {
  background-color: rgb(70, 175, 224);
}

.js-result:active {
  background-color: rgb(214, 224, 70);
}